<div class="container">
  <div>
    <h3><%= @memo.title %></h3>
  </div>
  <div>
    <p><%= @memo.body %></p>
  </div>
  <div>
    <form action="/memos/<%= @memo.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <div class="form-group">
        <a href="/memos/<%= @memo.id %>/edit"><input type="button" value="変更" class="btn btn-primary"></a>
        <input type="submit" value="削除" class="btn btn-danger">
      </div>
    </form>
  </div>
</div>
